body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://rsms.me/inter/inter.css");

html {
  font-size: 62.5%;
  font-family: "Inter";
  font-variant-numeric: slashed-zero;

  --font-size-default: 1.8rem;
  --font-size-mobile: 1.6rem;
  --text-primary: #02353B;
  --bg-gradient: linear-gradient(to top right, rgba(236, 143, 91, 0.8), rgba(237, 240, 99, 0.8));
  
  color: var(--text-primary);
}

.selected {
  background-color: var(--text-primary) !important;
}
